.footer__container {

    .footer__left {
        float: left;
        width: 200px;

        .footer__title {
            font-size: 24px;
        }

        .footer__logo {
            float: right;
        }

    }

    .footer__right {
        float: right;
    }

}

